@model Money_Talks.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Transaction</legend>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">Transaction Type</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TransactionType)
    </div>

    <div class="display-label">Date Created</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">Category</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TransactionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
