@* The main view - presenting all of the Rules that the user creats *@

@model IEnumerable<Money_Talks.Models.Rules>
@using Money_Talks.Controllers

@{
    ViewBag.Title = "Index";
}


<h2>Rule Your MONEY</h2>

<p>
    @Html.ActionLink("Create New Rule", "Create")
</p>


    
<table>
    <tr>
        <th>
            Rule Limitation
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RuleBorder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RuleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.RuleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RuleId })
        </td>
    </tr>
}

</table>

</br></br>
@if (ViewBag.breakingRules != null)
{
    foreach (string x in ViewBag.breakingRules)
    {
        @x
        <br />
    }
}